In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('weather.csv')

df.head(5)

,datetime,temp,feelslike,humidity,precip,snow,windspeed,conditions,icon
0,2018-01-01 00:00:00,-12.6,-20.8,55.55,0,0,18.2,0,0
1,2018-01-01 01:00:00,-12.6,-20.9,55.97,0,0,18.6,0,0
2,2018-01-01 02:00:00,-12.7,-21.1,55.91,0,0,19.4,0,0
3,2018-01-01 03:00:00,-13.2,-21.2,58.00,0,0,17.3,0,0
4,2018-01-01 04:00:00,-13.3,-20.9,56.10,0,0,15.6,0,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    24 non-null     object
 1   temp        24 non-null     float64
 2   feelslike   24 non-null     float64
 3   humidity    24 non-null     float64
 4   precip      24 non-null     int64
 5   snow        24 non-null     int64
 6   windspeed   24 non-null     float64
 7   conditions  24 non-null     int64
 8   icon        24 non-null     int64
dtypes: float64(4), int64(4), object(1)
memory usage: 1.8+ KB

In [5]:
print(pd.io.sql.get_schema(df, name='weather'))

CREATE TABLE "weather" (
"datetime" TEXT,
  "temp" REAL,
  "feelslike" REAL,
  "humidity" REAL,
  "precip" INTEGER,
  "snow" INTEGER,
  "windspeed" REAL,
  "conditions" INTEGER,
  "icon" INTEGER
)